.blogInfo{
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
    align-items: center;
}
.textInfo{
    flex: 1;
}
.blogTitle{
    font-size: 50px;
    margin-bottom: 3rem;
}
.blogUser{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.userImgWrapper{
    height: 3rem;
    width: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}
.userImg{
    object-fit: cover;
}
.userInfo{
    color: var(--softTextColor);
}
.userName{
    font-size: 20px;
    font-weight: 500;
}
.blogImgWrapper{
    flex: 1;
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
}
.blogImg{
    object-fit: cover;
}
.blogContent{
    display: flex;
    gap: 2rem;
}
.blogDesc{
    flex: 4;
}
.blogText{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1536px) {
    .blogTitle{
        font-size: 48px;
    }
}
@media screen and (max-width: 1280px) {
    .blogTitle{
        font-size: 36px;
    }
}
@media screen and (max-width: 1024px) {
    .blogTitle{
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    .blogTitle{
        font-size: 28px;
    }
    .blogInfo{
        flex-direction: column-reverse;
    }
    .textInfo{
        flex: none;
    }
    .blogImgWrapper{
        flex: none;
        height: 250px;
        width: 400px;
    }
}