.title{
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    background-color: var(--softBg);
    width: 100%;
}
.title:focus{
    outline: none;
}
.blogInfo{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.imgLabel{
    cursor: pointer;
}
/* .imgContainer{
    
} */
